.footer .footer-content .year {
    text-align: center;
    font-family: Calibri;
    padding: 1rem;
    font-size: 20px;
}

/*dark mode*/
.footer.active .footer-content .year {
    background-color: rgb(40,40,40);
    color: orange;
}