.header {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: darkorange;
    padding: 10px;
}

.header input[type="checkbox"] {
    display: none;
}

.header .back {
    font-size: 23px;
}

.header .dark-switch {
    font-size: 24px;
}

.header .back, .header .dark-switch {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

