.list-wrap {
    display: flex;
    justify-content: center;
    min-height: 100dvh;
}

.list-wrap h2 {
    font-family: Arial;
    text-align: center;
}

.list-wrap #input-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 14px;
}

.list-wrap input[type="text"], 
.add-btn {
    box-shadow: 0 0 5px darkorchid;
    padding: 12px;
    color: darkorchid;
    border-radius: 10px;
    font-family: Calibri;
    font-size: 18px;
    outline: none;
    border: none;
}

.list-wrap .add-btn, .cancel-btn {
    cursor: pointer;
    background-color: darkorchid;
    color: white;
    padding: 12px;
    width: 80px;
    font-family: Calibri;
    border-radius: 10px;
    font-size: 21px;
}

.list-wrap #edit-btn, .cncl-b {
    cursor: pointer;
    background-color: darkorchid;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 12px;
    font-family: Calibri;
    box-shadow: 0 0 5px magenta;
    font-size: 21px;
}

.list-wrap .list {
    margin-top: 18px;
    box-shadow: 0 0 5px darkorchid;
    gap: 18px;
    padding: 18px;
    border-radius: 6px;
    font-family: Calibri;
    font-size: 22px;
    color: darkorchid;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    margin-bottom: 18px;
}

.list-wrap .control-wrap {
    display: flex;
    margin-left: auto;
    gap: 8px;
}

.update-list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.list-wrap #moveup,
#movedwn {
    background-color: midnightblue;
    border: none;
    padding: 8px;
    font-size: 21px;
    cursor: pointer;
    border-radius: 6px;
}

.list-wrap #editlist {
    background-color: deepskyblue;
    border: none;
    padding: 8px;
    font-size: 21px;
    cursor: pointer;
    border-radius: 6px;
}

.list-wrap #erase {
    background-color: black;
    padding: 8px;
    cursor: pointer;
    border: none;
    font-size: 21px;
    border-radius: 6px;
}

.list-wrap .sorting {
    margin: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.list-wrap #asc-1,
.list-wrap #dsc-1 {
    cursor: pointer;
    width: 80px;
    background-color: mediumorchid;
    color: white;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
    border: none;
    font-size: 18px;
}

.list-wrap #open {
    cursor: pointer;
    width: 80px;
    background-color: violet;
    color: white;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
    border: none;
    width: 120px;
    font-size: 18px;
}

.list-wrap #empty {
    cursor: pointer;
    width: 100px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 8px;
    text-align: center;
    border: none;
    font-size: 18px;
}

/*dark theme*/
.list-wrap.active {
    background-color: black;
    color: darkorange;
}

.list-wrap.active #input-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 14px;
}

.list-wrap.active input[type="text"], 
.add-btn, .cancel-btn {
    box-shadow: 0 0 4px orange, 0 0 6px darkorange;
    padding: 12px;
    color: orange;
    background-color: black;
    border-radius: 10px;
    font-family: Calibri;
    font-size: 18px;
    outline: none;
    border: none;
}

.list-wrap.active input[type="text"]::placeholder {
    color: orange;
}

.list-wrap.active .add-btn {
    background-color: black;
    color: orange;
}

.list-wrap.active .sorting {
    margin: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    flex-wrap: wrap;
}

.list-wrap.active .sorting #open,
.list-wrap.active .sorting #empty,
.list-wrap.active .sorting #asc-1,
.list-wrap.active .sorting #dsc-1 {
    cursor: pointer;
    box-shadow: 0 0 4px orange, 0 0 6px darkorange;
    border-radius: 10px;
    background-color: black;
    color: orange;
    padding: 8px;
    text-align: center;
    border: none;
    font-size: 18px;
}

.list-wrap.active .list {
    margin-top: 18px;
    box-shadow: 0 0 4px orange, 0 0 6px darkorange;
    background-color: black;
    gap: 18px;
    padding: 18px;
    border-radius: 6px;
    font-family: Calibri;
    font-size: 22px;
    color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    margin-bottom: 18px;
}

.list-wrap.active .control-wrap #moveup,
.list-wrap.active .control-wrap #movedwn,
.list-wrap.active .control-wrap #editlist,
.list-wrap.active .control-wrap #erase {
    background-color: black;
    border:1.2px solid orange;
}

.list-wrap.active #edit-btn, .cncl-b {
    background-color: black;
    color: orange;
    box-shadow: 0 0 4px orange, 0 0 6px darkorange;
}